{% extends "base.html" %}

{% block title %}
Login
{% endblock title %}
{% block content %}
{% if form.errors %}
<p>Votre nom d'utilisateur et mot de passe sont incorrecte . essayer encore</p>
{% endif %}

{% if next %}
{% if user.is_authenticated %}
<p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
{% else %}
<p>Please login to see this page.</p>
{% endif %}
{% endif %}

<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="login">
    <input name="next" type="hidden" value="{{ next }}">
</form>

{# Assumes you set up the password_reset view in your URLconf #}


    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
    <p><a href="{% url 'register' %}">S'inscrire</a></p>


{% endblock content %}